<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Application Submitted</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
        <a class="text-center mt-2">IU Careers</a>
        <img class="img-fluid" id="home" src="./static/home.jpeg" height="380">

        <p>Your application for the role of <b>{{ job['title'] }}</b> has been submitted.</p>
        
        <b>Full Name</b>
        <div class="mb-2">{{ application['full_name'] }}</div>

        <b>Email</b>
        <div class="mb-2">{{ application['email'] }}</div>

        <b>LinkedIn URL</b>
        <div class="mb-2">{{ application['linkedin'] }}</div>

        <b>Education</b>
        <div class="mb-2">{{ application['education'] }}</div>

        <b>Experience</b>
        <div class="mb-2">{{ application['experience'] }}</div>

        <b>Portfolio/ Resume Link</b>
        <div class="mb-2">{{ application['resume'] }}</div>
    </div>
  </body>
</html>
